<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="InputFolder" value="" />
    <add key="OutPutFolder" value="" />
    <add key="RefDataPath" value="C:\interview\Brady Code Challenge_June 2021\Brady Code Challenge_June 2021\BradyCoding.DataGeneration.UnitTests\EmissionDataGenerator\Data\ReferenceData.xml" />
  </appSettings>
</configuration>